__pycache__
results/
results_bounded/
results_OpEq/
results_OpEq_complexity/
results_OpEq_complexity_flat/
results_OpEq_complexity_unbounded/
results_OpEq_old/
results_OpEq_old_mean/
results_initial/
run_notebook.ipynb

